<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons color="orange" slot="start">
      <ion-back-button color="light" defaultHref="{{backUrl}}"></ion-back-button>
    </ion-buttons>
    <ion-title class="main-header5">{{post.poster?.name}}'s Post</ion-title>
    <!-- A favorite button will not show if user not login. -->
    <ion-buttons slot="end">
      <ion-button color="light" (click)="toggleHeart()">
        <ion-icon slot="icon-only" [name]="heartType" color="medium"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-buttons slot="end">
      <ion-button color="light" (click)="toggleActionSeet()">
        <ion-icon  slot="icon-only" name="ellipsis-vertical-outline" color="light"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card mode="ios">
    <img *ngIf="post?.img" [src]="post?.img" />
    <ion-card-subtitle>
      <ion-item>
        <ion-label>{{post?.title}}</ion-label>
      </ion-item>
    </ion-card-subtitle>
    <ion-card-content>
      <p [innerHTML]="post?.description"></p>
    </ion-card-content>
  <hr>
    <ion-row>
      <ion-col class="card-footer1">
        <ion-button fill="clear" size="small" color="primary">
          <ion-icon slot="start" name="chatbubbles-outline" color="primary"></ion-icon>
          {{(comments| async)?.length}}
        </ion-button>
        <ion-button (click)="toggleHeart()" fill="clear" size="small" color="#FFD700">
          <ion-icon slot="start" [name]="heartType" color="primary"></ion-icon>
          {{post?.likes?.length}}
        </ion-button>
      </ion-col>
      <ion-col center class="ion-text-right card-footer2">
        <ion-button fill="clear" size="small" color="dark">
          REPLY
        </ion-button>
      </ion-col>
      <br>
    </ion-row>
  </ion-card>

  <ion-list *ngIf="(comments| async)?.length>0 ;else noComment" class="ion-no-margin">
    <h3 class=" ion-no-margin comment-header">
      <ion-icon class="text-medium" name="chatbubbles"></ion-icon>
      Comments
    </h3>
    <hr>
      <ion-item class="comment-list" *ngFor="let c of comments | async ">
        <ion-row>
          <img (click)="userDetail(c.poster)" [src]="c.postUser?.img" />
          <ion-label class="ion-text-wrap" (click)="userDetail(c.poster)">
            <h4>{{c?.postUser?.name}}</h4>
            <h5>{{c.created?.seconds *1000 | amTimeAgo}}</h5>
          </ion-label>
          <ion-col size="12">
            <ion-label class="ion-text-wrap">
              <div class="message">
                {{c?.comment}}
              </div>
              <p>
                <ion-button float-left (click)=" toggleCommentLike(c.id)" fill="clear" size="small" color="primary">
                  <ion-icon slot="start" name="thumbs-up" color="primary"></ion-icon>
                  {{(c?.likes.length)}}
                </ion-button>
                <ion-button float-left fill="clear" size="small" color="dark">
                  <ion-icon slot="start" name="flag" color="primary"></ion-icon>
                </ion-button>
              </p>
            </ion-label>
          </ion-col>
        </ion-row>
      </ion-item>
  
  </ion-list>
  <ng-template #noComment>
    <p class="no-comment">No Comment yet - be the first to give a comment !</p>
  </ng-template>
</ion-content>
<ion-footer class="ion-no-border">
  <ion-toolbar>
    <form [formGroup]="addPostComment" (ngSubmit)="addComment()">
      <ion-item lines="none">
        <textarea placeholder=" your comments " #myInput id="myInput" rows="1" maxLength="500" (keyup)="resize()"
          formControlName="comment"></textarea>
        <ion-buttons slot="end">
          <ion-button type="submit" fill="clear" color="primary" [disabled]="!addPostComment.valid">
            Send
          </ion-button>
        </ion-buttons>
      </ion-item>
    </form>
  </ion-toolbar>
</ion-footer>