<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons color="orange" slot="start">
      <ion-back-button color="light" defaultHref="1/post/list"></ion-back-button>
    </ion-buttons>
    <ion-title class="main-header5">{{post.poster?.name}}'s Post</ion-title>
    <!-- A favorite button will not show if user not login. -->
    <ion-buttons slot="end">
      <ion-button color="light" (click)="toggleHeart()">
        <ion-icon slot="icon-only" [name]="heartType"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-buttons slot="end">
      <ion-button color="light" (click)="toggleActionSeet()">
        <ion-icon slot="icon-only" name="more"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content fullscreen>
  <ion-card mode="ios">
    <img *ngIf="post?.img" [src]="post?.img" />
    <ion-card-subtitle>
      <ion-item>
        <ion-label>{{post?.title}}</ion-label>
      </ion-item>
    </ion-card-subtitle>
    <ion-card-content>
    <p [innerHTML]="post?.description"></p>
    </ion-card-content>
  </ion-card>
  <ion-row color="light">
    <ion-col class="card-footer1">
      <ion-button fill="clear" size="small" color="#FFD700">
        <ion-icon slot="start" name="ios-chatboxes" color="#FFD700"></ion-icon>
        {{(post?.commentCount)}} 
      </ion-button>
      <ion-button  (click)="toggleHeart()" fill="clear" size="small" color="#FFD700">
        <ion-icon slot="start" [name]="heartType" color="#FFD700"></ion-icon>
       {{post?.likes?.length}}
       </ion-button>
    </ion-col>
    <ion-col center class="ion-text-right card-footer2">
      <ion-button fill="clear" size="small" color="dark">
        REPLY
      </ion-button>
    </ion-col>
    <br>
  </ion-row>
  <ion-list *ngIf="(comments| async)?.length>0 ;else noComment" class="ion-no-margin">
    <h5  class=" ion-no-margin comment-header">
      <ion-icon class="text-medium" name="chatbubbles"></ion-icon>
      Comments
    </h5>
    <div>
      <ion-item class="comment-list" *ngFor="let c of comments | async ">
        <ion-avatar slot="start">
          <img [src]="c.postUser?.img" />
        </ion-avatar>
        <ion-label class="ion-text-wrap">
          <ion-text color="medium"  class="ion-float-end">
            <span class="text-small">
              {{c.created?.seconds *1000 | amTimeAgo}}
            </span>
          </ion-text>
           <h4>{{c?.postUser?.name}}</h4> 
          <ion-text color="dark">
            <div class="message">{{c?.comment}}</div>
          </ion-text>
          <p>
          <ion-button fill="clear" size="small" color="#FFD700">
            <ion-icon slot="start" name="thumbs-up" color="#FFD700"></ion-icon>
            <!-- {{(c?.commentCount)}} -->
          </ion-button>
          <ion-button fill="clear" size="small" color="dark">
            Reply
          </ion-button>
        </p>
        </ion-label>
      </ion-item>
    </div>
  </ion-list>
  <ng-template #noComment>
   <p class="no-comment">No Comment yet - be the first to give a comment !</p> 
  </ng-template>
</ion-content>
<ion-footer class="ion-no-border">
  <ion-toolbar>
    <form [formGroup]="addPostComment" (ngSubmit)="addComment()">
      <ion-item lines="none">
        <textarea placeholder=" your comments " #myInput id="myInput" rows="1" maxLength="500" (keyup)="resize()"
          formControlName="comment"></textarea>
        <ion-buttons slot="end">
          <ion-button type="submit" fill="clear" color="primary" [disabled]="!addPostComment.valid">
            Send
          </ion-button>
        </ion-buttons>
      </ion-item>

    </form>
  </ion-toolbar>
</ion-footer>