ion-card.main-card{
    background:linear-gradient(135deg, #61edfa 0%,#f9c453 100%);
    border-radius: 4px 100px 10px 10px;
    max-width:500px;
    overflow: visible;
    margin-top: 80px;
  }
  .card-img{
    max-width:80px;
  }
  .card-main-content{
    background: rgb(238, 234, 177);
    border-radius: 4px 60px 10px 10px;
  }
  .card-amount{
    --background: transparent;
    --border-color: transparent;
    color: #fff;
  }
  .card-image-blk{
    --background: transparent;
    --border-color: transparent;
    margin-bottom: -30px;
    margin-top: -30px;
  }

  .card-footer1{
        margin-top: -15px;
        margin-left: 10px;
  }
  .card-footer2{
    margin-top: -15px;
    margin-right: 15px;
    margin-bottom: 25px;
}
.comment-header{
    margin-bottom: 20px;
    margin-left: 20px;
}
.comment-list{
    margin: 10px;
    margin-left: -1px;
}
ion-input {
  background: #ececea;
  border-radius: 20px;
}
.send{
  border-radius: 20px;
}
#myInput {
  width: calc(100% - 10px);
  border: 1px;
  border-radius: 20px;
  background: #ececea;
  min-height: 35px;
  text-indent: 10px;
  text-align: justify;
  outline: none;
  resize: none;
  padding: 10px;
}
.scroll-content {
  padding-bottom:0!important;
}
p{
    padding: 5px;
}
h4{
  font-weight: 700!important;
  padding: 10px;
  margin-top: -10px;
}
.footer{
  display: flex;
  overflow: hidden !important;
}

.message {
  border-radius: 20px;
  padding: 10px;
  display: inline-block;
  background-color: #e8e7e2;
}