ion-card.main-card{
    background:linear-gradient(135deg, #61edfa 0%,#f9c453 100%);
    border-radius: 4px 100px 10px 10px;
    max-width:500px;
    overflow: visible;
    margin-top: 80px;
  }
  .card-img{
    max-width:80px;
  }
  .card-main-content{
    background: rgb(238, 234, 177);
    border-radius: 4px 60px 10px 10px;
  }
  .card-amount{
    --background: transparent;
    --border-color: transparent;
    color: #fff;
  }
  .card-image-blk{
    --background: transparent;
    --border-color: transparent;
    margin-bottom: -30px;
    margin-top: -30px;
  }

  .card-footer1{
        margin-top: -15px;
        margin-left: 10px;
  }
  .card-footer2{
    margin-top: -15px;
    margin-right: 15px;
    margin-bottom: 25px;
}
.comment-header{
    margin-bottom: 0px;
    margin-left: 20px;
}
.comment-list{
  margin: 20px;
}
ion-input {
  border-radius: 20px;
}
textarea{
  border-color: #ffce00;
  border-width: thin;
}
.send{
  border-radius: 20px;
}
#myInput {
  width: calc(100% - 10px);
  border-radius: 20px;
  min-height: 35px;
  text-indent: 10px;
  text-align: justify;
  outline: none;
  color: rgb(0, 0, 0);
  border-color: var(--ion-color-primary);
  resize: none;
  padding: 10px;
}
.scroll-content {
  padding-bottom:0!important;
}
p{
    padding: 5px;
    font-weight:600 ;
    font-style: normal;
}
h4{
  font-weight: 700!important;
}
h3{
  font-weight: 600!important;
  margin-top: 20px;
}
.footer{
  display: flex;
  overflow: hidden !important;
}

.message {
  border-radius: 10px;
  padding: 10px;
  display: inline-block;
  margin-left: 10px;
  font-size: medium;
  background-color: var(--ion-color-light-shade)
}

.no-comment{
    padding: 25px;
    margin-top: 10px;
}
img{
  width: 30px;
  height: 32px;
  border-radius: 10px;
  margin-right: 10px;
}
ion-row{
  margin-top: 20px;
}
ion-card-content{
  margin-bottom: -20px;
}