
.image-slide{
background-color: var(--ion-color-white);
background-size: cover;
width: var(--image-width, 100%);
height: var(--image-height, 100px);
position: relative;
}
.ion-col-grid{
    margin-top: -30px;
}