.custom-tabs {
    contain: none;
  }
  
  ion-label{
    color: --gray;
  }
  .custom-tabs ion-fab-button {
    ion-icon {
      font-size: 2em;
      color: red($color: #000000);
    }
    color: #000;
    --ion-color-base: var(--ion-color-primary);
    background-color: var(--ion-color-primary);
    border-radius: 50%;
    max-width: 45px;
    height: 45px;
    margin-bottom: 20px;
    box-shadow: 0px 10px 10px 0px rgba(230, 228, 221, 0.35);
    //box-shadow: 0 -3px 6px -1px rgba(235, 203, 22, 0.4);
    //border: 1px solid rgba(78, 71, 71, 0.2);
  }