ion-content {
  padding-bottom: 80px;
}
ion-slides {
  height: 300px;
  width: 100%;
}
ion-item {
  --min-height: 30px;
}
ion-label{
  padding-left: 10px;
}

.image-slide {
  max-width: 100vw !important;
  max-height: 100vh !important;
}

//***** color selector ******//
ul.color-selector {
  margin-top: 0px !important;
  padding-inline-start: 7px;
}
ul.color-selector li {
  text-align: center;
  display: inline-block;
  width: 35px;
  margin-right: 3px;
  cursor: pointer;
  position: relative;
  left: 0;
  background-color: #eee;
  margin: 0.5em;
  padding: 0.3em 0;
  height: 35px;
  border-radius: 50px;
  border: solid 1px #ddd;
}

.color-selector li:hover {
  color: #ffce00;
  background-color: #ddd;
  /* left: .1em; */
}
.color-selector li.selected {
  color: white;
  /* border-style: solid;
    border-color: #ccc; */
  border: solid 3px #eee;
}
.color-selector li.selected:hover {
  background-color: #bbd8dc;
  color: white;
}

//***** size selector ******//
ul.size-selector {
  margin-top: 0px !important;
  padding-inline-start: 2px;
}
ul.size-selector li {
  text-align: center;
  vertical-align: middle;
  line-height: 40px;
  display: inline-block;
  padding: 0px 9px;
  padding-left: 20px !important;
  padding-right: 20px !important;
  // width: 40px;
  margin-right: 3px;
  cursor: pointer;
  position: relative;
  left: 0;
  background-color: #eee;
  border: solid 1px #eee;
  margin: 0.5em;
  // padding: .3em 0;
  height: 40px;
  border-radius: 9px;
}

.size-selector li:hover {
  color: #ffce00;
  background-color: #ddd;
  /* left: .1em; */
}
.size-selector li.selected {
  color: white;
  /* border-style: solid;
    border-color: #ccc; */
  border: solid 2px #ddd;
}
.size-selector li.selected:hover {
  background-color: #bbd8dc;
  color: white;
}
ion-title {
  //--color: transparent !important;
  opacity: 0;
}
ion-buttons.showColor {
  color: #333;
}
ion-avatar {
  margin: 10px 16px 8px 0 !important;
}
.show-title {
  // animation: fadein 0.4s;
  // -moz-animation: fadein 0.4s; /* Firefox */
  // -webkit-animation: fadein 0.4s; /* Safari and Chrome */
  // -o-animation: fadein 0.4s; /* Opera */
  // --color: #fff !important;
  -webkit-transition: opacity 1s ease-in-out;
  -moz-transition: opacity 1s ease-in-out;
  -ms-transition: opacity 1s ease-in-out;
  -o-transition: opacity 1s ease-in-out;
  opacity: 1;
}
/* Show background if class is active */
.show-background {
  border-style: none;
  animation: fadein 0.5s;
  -moz-animation: fadein 0.5s; /* Firefox */
  -webkit-animation: fadein 0.5s; /* Safari and Chrome */
  -o-animation: fadein 0.5s; /* Opera */

  background: #ffce00;
}
// .show-invert{
//     --color:"#F9690E";
// }
.hide-title {
  border-style: none;
  animation: fadeout 0.5s;
  -moz-animation: fadein 0.5s; /* Firefox */
  -webkit-animation: fadein 0.5s; /* Safari and Chrome */
  -o-animation: fadein 0.5s; /* Opera */

  background: var(--ion-color-danger);
}
@keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@-moz-keyframes fadein {
  /* Firefox */
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@-webkit-keyframes fadein {
  /* Safari and Chrome */
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
ion-card {
  border-radius: 9px !important;
  //-webkit-box-shadow: 0 4px 16px rgba(0, 0, 0, 0)  !important;
  -webkit-box-shadow: 0 5px 30px rgba(0, 0, 0, 0.1) !important;
  //box-shadow: 0 4px 16px rgba(0,0,0,0) !important;
  box-shadow: 0 5px 30px rgba(0, 0, 0, 0.1) !important;
}

.img-gallery-box {
  display: inline-block;
  padding: 4px;
}
.img-gallery {
  margin-left: 8px;
  width: 104px;
  height: 100px;
  display: inline-block;
  border-radius: 8px;
}
.img-gallery img {
  border-radius: 5px;
  width: 104px;
  height: 100px;
}
ion-toolbar {
  --background: transparent;
  --ion-color-base: transparent !important;
}

/* Remove bottom border on md */
.header-md::after {
  background-image: none;
}
/* Remove bottom border on ios */
.header-ios ion-toolbar:last-child {
  --border-width: 0;
}

ion-thumbnail {
  --border-radius: 6px;
  width: 80px;
  height: 80px;
}
.card-img {
  max-width: 80px;
  height: 80px;
  border-radius: 8px;
}
.card-image-blk {
  --background: transparent;
  --border-color: transparent;
  margin-bottom: -20px;
  margin-top: -20px;
}
ion-card-title {
  margin-top: -30px;
}
ion-row {
  height: 50%;
}
ion-row.big {
  fiv-gallery-image {
    --max-height: 86px;
  }
}

ion-row.small {
  fiv-gallery-image {
    --max-height: 60px;
  }
}

ion-row.large {
  fiv-gallery-image {
    --max-height: 120px;
  }
}

.loop {
  fiv-gallery-image {
    --max-height: 90px;
    --width: auto;
    display: inline-block;
  }
}
