<ion-header class="ion-no-border">
  <ion-toolbar class="first" [class.show-background]="showToolbar">
    <ion-buttons color="orange" slot="start">
      <ion-back-button color="light" defaultHref="1/place/list"></ion-back-button>
    </ion-buttons>
    <ion-title class="main-header5" [class.show-title]="showTitle">{{place?.name}}</ion-title>
    <!-- A favorite button will not show if user not login. -->
    <ion-buttons slot="end">
      <ion-button color="light" (click)="toggleHeart()">
        <ion-icon slot="icon-only" [name]="heartType"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-buttons slot="end">
      <ion-button color="light" (click)="toggleHeart()">
        <ion-icon name="ellipsis-vertical-outline" color="light"></ion-icon>
      </ion-button>
    </ion-buttons>

  </ion-toolbar>
</ion-header>
<ion-content no-padding fullscreen (ionScroll)="onScroll($event)" [scrollEvents]="true" [class.transition]="transition">
  <!--*********** Image header  ***********-->
  <!-- <div class="detail-header" [ngStyle]="{'background-image': 'url(' + itemArray.image + ')'}">
</div> -->

  <ion-slides pager="true" [options]="sliderOpts">
    <ion-slide *ngFor="let s of slides">
      <img class="image-slide" src="../../../assets/images/{{s.id}}.jpeg">
    </ion-slide>
  </ion-slides>
  <ion-card class="main-card">
    <ion-item margin-vertical lines="none">
      <img class="card-img" [src]="place?.img" slot="start" />
      <ion-label text-nowrap>
        <ion-text color="dark">
          <h1 class="bold-ellipsis" ion-text color="primary">
            {{ place?.name }}
          </h1>
        </ion-text>
        <div>
          <ion-icon style="font-size: 18px !important;" color="warning" *ngFor="let i of [0,1,2,3,4]"
            [name]="i < place?.rating  ? 'star' : 'star-outline'"></ion-icon>
        </div>
      </ion-label>
    </ion-item>

    <ion-card-content>
      {{place?.description}}
    </ion-card-content>


    <ion-item lines="none">
      <img
        src="https://maps.googleapis.com/maps/api/staticmap?key={{apiKey}}&markers=color:0xff7676%7C{{place?.location?.lat}},{{place?.location?.lng}}&zoom=17&format=png&size=600x300&zoom=17" />
    </ion-item>

    <ion-item (click)="myBusiness()">
      <ion-icon name="pin" color="primary"></ion-icon>
      <h3 class="mid-text">{{place?.address}}</h3>
    </ion-item>

    <ion-item (click)="myBusiness()">
      <ion-icon name="navigate" color="primary"></ion-icon>
        <h3 class="mid-text" (click)="onDirectionsButtonTouched()">
          Get Direction
        </h3>
    </ion-item>

    <ion-item (click)="myBusiness()">
      <ion-icon name="call" color="primary"></ion-icon>
      <h3 class="mid-text">{{place?.phone}}
      </h3>
    </ion-item>

    <ion-item (click)="myBusiness()">
      <ion-icon name="globe" color="primary"></ion-icon>
      <h3 class="mid-text">{{place?.website}}</h3>
    </ion-item>

    <ion-item (click)="myBusiness()">
      <ion-icon name="logo-youtube" color="primary"></ion-icon>
      <h3 class="mid-text">{{place?.youtube}}</h3>
    </ion-item>

    <ion-item (click)="myBusiness()">
      <ion-icon name="logo-facebook" color="primary"></ion-icon>
      <h3 class="mid-text">{{place?.facebook}}</h3>
    </ion-item>

    <ion-item (click)="myBusiness()">
      <ion-icon name="logo-instagram" color="primary"></ion-icon>
      <h3 class="mid-text">{{place?.instagram}}</h3>
    </ion-item>

    <ion-row>
      <ion-col size="3" color="tertiary">
        <ion-button fill="clear">
          <ion-icon name="star"></ion-icon>
        </ion-button> |
      </ion-col>
      <ion-col size="3" color="primary">
        <ion-button fill="clear">
          <ion-icon name="star"></ion-icon>
        </ion-button> |
      </ion-col>
      <ion-col size="3" color="green">
        <ion-button fill="clear">
          <ion-icon name="information-circle"></ion-icon>
        </ion-button>|
      </ion-col>
      <ion-col size="3" color="red">
        <ion-button fill="clear">
          <ion-icon name="book"></ion-icon>
        </ion-button>
      </ion-col>
    </ion-row>
  </ion-card>
  <!-- <ion-grid fixed>
    <ion-row>
      <ion-col sizeXl="10" offsetXl="1" sizeLg="10" offsetLg="1" sizeMd="12" sizeXs="12" offsetXs="0" offsetSm="0"
        offsetMd="0" sizeSm="12" sizeMd="12">
        <fiv-gallery>
          <fiv-gallery-toolbar position="top">
            <fiv-gallery-toolbar-content></fiv-gallery-toolbar-content>
          </fiv-gallery-toolbar>
          <ion-grid fixed>
            <ion-row>
              <ion-col *ngFor="let pic of picsum" size="6" sizeMd="4">
                <fiv-gallery-image [src]="pic"></fiv-gallery-image>
              </ion-col>
            </ion-row>
          </ion-grid>
        </fiv-gallery>
      </ion-col>
    </ion-row>
  </ion-grid> -->
  <!-- <fiv-gallery>
    <fiv-gallery-toolbar position="top">
      <fiv-gallery-toolbar-content></fiv-gallery-toolbar-content>
    </fiv-gallery-toolbar>
    <ion-grid fixed>
      <ion-row>
        <ion-col *ngFor="let pic of picsum" size="6" sizeMd="4">
          <fiv-gallery-image [src]="pic"></fiv-gallery-image>
        </ion-col>
      </ion-row>
    </ion-grid>
  </fiv-gallery> -->
  <p class="header-text">Photo & Video </p>
  <ion-slides  [options]="slideOptsOne">
    <ion-slide class="photo-video" *ngFor="let pic of picsum">
      <fiv-gallery>
        <fiv-gallery-toolbar position="top">
          <fiv-gallery-toolbar-content></fiv-gallery-toolbar-content>
        </fiv-gallery-toolbar>
        <fiv-gallery-image [src]="pic"></fiv-gallery-image>
      </fiv-gallery>
    </ion-slide>
  </ion-slides>

</ion-content>