ion-input {
    background: #ebebe1;
    border-radius: 10px;
    margin-top: 6px;
    --padding-start: 6px !important;
  }

  
  /* entire container, keeps perspective */
  .flip-container {
    perspective: 1000px;
  }
  
  .flip-container.flip .flipper {
    transform: rotateY(180deg);
  }
  
  .flip-container,
  .front,
  .back {
    width: 100%;
    height: 500px;
    margin-top: 20px;
  }
  
  /* flip speed goes here */
  .flipper {
    transition: 0.6s;
    transform-style: preserve-3d;
  
    position: relative;
  }
  
  /* hide back of pane during swap */
  .front,
  .back {
    backface-visibility: hidden;
  
    position: absolute;
    top: 0;
    left: 0;
  }
  
  /* front pane, placed above back */
  .front {
    z-index: 2;
  }
  
  /* back, initially hidden pane */
  .back {
    transform: rotateY(180deg);
  }
  h1 {
    color: #CCCCCC;
    font-size: 300;
    font-weight: 300;
    line-height: 29px;
    margin-right: 20%;
    margin-left: 20px;
    margin-bottom: 40px;
  }
  [logo]{
    height: 18px;
    margin-top: 64px;
    margin-left: 20px;
  }

.login-box {
  margin: 2em;
  padding: 1em;
  margin-top: 10vh;
  background: #ffffffe6;
  border-radius: 15px;
  border: 2px solid var(--ion-color-primary);
}

ion-content {
  --background: none;
  background-image: url('../../../assets/imgs/loginBG.jpg');
  background-position: center top;
  background-repeat: no-repeat;
  background-size: cover;
}

ion-item {
  --ion-item-background: transparent;
}

.twitter-btn {
  --background: #1DA1F2;
}

.fb-btn {
  --background: #3C5A99;
}