<ion-header>
<ion-toolbar color="primary">
    <ion-title >
      <img class="title-image" src="../../../assets/imgs/logoLookE.png" width="150" height="30" />
    </ion-title>
    <ion-buttons slot="end">
      <ion-button>
        <ion-icon name="notifications" color="light"></ion-icon>
       </ion-button>
    </ion-buttons>
  </ion-toolbar>  
</ion-header> 

<ion-content>
<div>
  <section class="heading">
    <ion-slides [options]="slideOptsOne" pager="true" class="inner">
      <ion-slide *ngFor="let category of categories | async">
        <img class="image-slide" src="{{category.img}}">
        <span class="slide-text">{{category.name}}</span>
      </ion-slide>
    </ion-slides>
    <!-- <div class="inner">
     
    </div> -->
  </section>
</div>
  <!-- <ion-slides pager="true" class="inner">
    <ion-slide *ngFor="let category of categories | async">
      <img class="image-slide" src="{{category.img}}">
    </ion-slide>
  </ion-slides> -->
  <div>
    <!--*********** Category  ***********-->
    <ion-item lines="none" class="postCategory" >
      <p class="main-b-header6">Category</p>
    </ion-item>
    <div class="top-horizontal-scroll  slide-left">
      <ion-card tappable class="shop-main-h-card shop-card-s-wide " *ngFor="let category of categories | async"
        (click)="openDetail('side-menu/shopping/tabs/tab1/shopping-item',category.id)">
        <div class="card-s-wide-bg ion-text-uppercase" [ngStyle]="{'background-image': 'url(' + category.img+ ')'}">
          <h2 class="card-s-wide-title"> {{category.name}}</h2>
        </div>
      </ion-card>
    </div>
    <ion-card mode="ios" *ngFor="let post of posts  | async " tappable>
      <ion-item lines="none">
        <ion-avatar slot="start">
          <img [src]="post.postUser.img">
        </ion-avatar>
        <ion-buttons slot="end">
          <ion-button (click)="toggleActionSeet()">
            <ion-icon slot="icon-only" color="medium" name="more"></ion-icon>
           </ion-button>
        </ion-buttons>
        <ion-label [routerLink]="[post.id]">
          <h3>{{post.postUser.name}}</h3>
          <p>{{post.created.seconds *1000 | amTimeAgo}}</p>
        </ion-label>
  
      </ion-item>
      <ion-item *ngIf="post.img">
        <ion-slides pager="true">
          <ion-slide>
            <img class="image-slide" [src]="post.img">
          </ion-slide>
        </ion-slides>
      </ion-item>
      <ion-card-content [routerLink]="[post.id]">
        <ion-card-title >
          <h2 class="main_header4"> {{post.title}}</h2>
        </ion-card-title>
        <p [innerHTML]="post.description"></p>
      </ion-card-content>
      <ion-row>
        <ion-col>
          <ion-button fill="clear" size="small" color="#FFD700" [routerLink]="[post.id]">
            <ion-icon  slot="start" name="ios-chatboxes" color="gray"></ion-icon>
            {{post?.commentCount}}
          </ion-button>
          <ion-button fill="clear" size="small" color="#FFD700" (click)="lovePost(post.id)">
            <ion-icon slot="start" name="ios-heart" color="gray"></ion-icon>
            {{post?.likes?.length}}
          </ion-button>
        </ion-col>
        <ion-col center class="ion-text-right">
          <ion-button fill="clear" size="small" color="dark" [routerLink]="[post.id]">
            REPLY
          </ion-button>
        </ion-col>
      </ion-row>
    </ion-card>
  </div>
  <ion-infinite-scroll  (ionInfinite)="onLoadMore($event)">
    <ion-infinite-scroll-content loadingSpinner = 'bubble' loadingText='loading more..'></ion-infinite-scroll-content>
  </ion-infinite-scroll>
</ion-content>