// ion-slides {
//   height: 100%;
//   width: 100%;
//   // //margin-top: -1px !important;
//   // --bullet-background: #ddd;
//   // --bullet-background-active: #ffce00;
//   // // margin-left: -1px !important;
//   // //border-radius: 40px;
//   // border-top-right-radius: 0px;
//   // border-top-left-radius: 0px;
//   // box-shadow: 0px 10px 10px 0px rgba(211, 205, 171, 0.3);
//   // background: linear-gradient(135deg, #fad961 0%, #f8ae46 100%);
// }
ion-title {
  text-align: center;
  p {
    font-weight: 700;
    color: #fff;
  }
}
.image-slide {
  max-width: 100vw !important;
  max-height: 100vh !important;
  display: block;
  margin-left: auto;
  margin-right: auto;
  justify-content: center;
}
ion-searchbar {
  height: 50px !important;
  padding: 0px 4px !important;
}

ion-avatar {
  background-color: #607d8b;
  border-radius: 50%;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  min-width: 50px;
  min-height: 50px;
}
ion-avatar[item-start] {
  margin: 8px 16px 8px 0;
}

ion-label {
  padding-left: 10px;
}

ion-icon {
  color: #999;
  font-size: 25px;
}

ion-icon.menu-icon {
  font-size: 30px;
}
.top-horizontal-scroll {
  margin-left: 10px;
  // margin-bottom: 25px;
  white-space: nowrap;
  height: auto;
  overflow-x: scroll;
  overflow-y: auto;
}
.shop-main-h-card {
  display: inline-block;
  border-radius: 9px !important;
  // remove shadow //
  -webkit-box-shadow: 0 4px 16px rgba(0, 0, 0, 0) !important;
  box-shadow: 0 4px 16px rgba(0, 0, 0, 0) !important;
}
.shop-card-s-wide {
  position: relative;
  border-radius: 8px !important;
  width: 149px !important;
  height: 77px !important;
  margin: 0px 5px 0px 5px !important;
  background-color: #dddddd;
  //min-height: 150vh !important;
  //max-height: 160vh !important;
}
.shop-card-s-wide-header {
  position: relative;
  border-radius: 8px !important;
  width: 200px !important;
  height: 220px !important;
  margin: 0px 5px 0px 5px !important;
  background-color: #dddddd;
  //min-height: 150vh !important;
  //max-height: 160vh !important;
}

ion-avatar {
  width: 20px;
  height: 20px;
  margin: 2px;
}
.card-s-wide-bg {
  position: relative;
  height: 77px;
  background-color: #dddddd;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  background-position: center;
}

.card-s-wide-bg-header {
  position: relative;
  height: 220px !important;
  background-color: #dddddd;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  background-position: center;
}

.header-widg-text {
  p {
    font-size: 16px;
    font-weight: bold;
    font-style: normal;
  }
  width: 190px;
  padding: 0px 10px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: break-word;
  color: #ffffff;
  position: absolute;
  margin-top: 110px;
}
.post-header {
  p {
    font-size: 12px;
    font-weight: normal;
    font-style: normal;
  }
  h3 {
    font-size: 14px;
    font-weight: bold;
    font-style: normal;
    text-overflow: ellipsis;
  }
}

.card-s-wide-bg .card-s-wide-title {
  width: 149px;
  padding: 0px 16px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis; // This is where the magic happens
  font-size: 17px;
  font-weight: bold;
  font-style: normal;
  color: #ffffff;
  position: absolute;
  top: 18%;
  bottom: 15px;
  text-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
  width: 100%;
  text-align: center;
}
.main-b-header6 {
  //letter-spacing: -1px;
  font-size: 20px !important;
  font-weight: 700 !important;
  color: lighten($color: #000000, $amount: 0);
}
.slide-left {
  animation: slideIn 0.5s backwards;
  animation-iteration-count: 1;
  transform-origin: 50% 50%;
}
.main-header6 {
  //letter-spacing: -1px;
  font-size: 18px !important;
  font-weight: 300 !important;
}

:host {
  // background-color: #ffce00;
  //background-image: linear-gradient(to left bottom, #051937, #602f64, #c04168, #fe7845, #ffce00);
  //background-image: url('../../../assets/imgs/car3.png');
  --offset-top: 200px;
}
ion-content {
  --background: transparent;
  transform: translate3d(0, 0px, 0);
  transition: 0.5s;
}
.no-transform {
  transform: translate3d(0, 0, 0);
}

.content-container {
  height: 100%;
  // border-radius: 40px;
  padding-top: 40px;
  border-bottom-right-radius: 0px;
  border-bottom-left-radius: 0px;
  background-color: #fff;
  overflow: scroll;
  padding-bottom: 20px;
  contain: none;
}
ion-card {
  margin-bottom: -15px;
}
ion-card-content:focus {
  outline: none;
}

/* Remove bottom border on md */
.header-md::after {
  background-image: none;
}
/* Remove bottom border on ios */
.header-ios ion-toolbar:last-child {
  --border-width: 0;
}
.heading {
  background: var(--ion-color-primary);
  display: block;
  flex-direction: column;
  align-items: center;
  align-self: center;
  height: 110px;
  justify-content: center;
  padding-top: 20px;
  padding-bottom: 30px;
  margin-bottom: 50px;
  border-bottom-right-radius: 40px;
  border-bottom-left-radius: 40px;
  .inner {
    //display: block;
    background-color: #fff;
    //position: absolute;
    //width: 340px;
    height: 250px;
    //max-height: 200px;
    //max-width: 300px;
    border-radius: 10px;
    box-shadow: 0px 0px 5px 0px rgba(50, 50, 50, 0.26);
    contain: none;
    // padding: 30px;
    margin-top: -20px;
    margin-bottom: 10px;
    align-self: center;
    margin-left: 15px;
    margin-right: 15px;
  }
}

.home-content {
  margin-top: 135px;
  padding: 6px;
}

.slide-text {
  color: white;
  font-weight: 800;
  position: absolute;
  margin-left: 10px;
  bottom: 20px;
}
ion-title {
  margin-bottom: -5px;
}
.ion-slides-group {
  ion-slide {
    ion-card {
      ion-item {
        width: 150px;
      }
      height: 60px;
      width: 100px;
      margin-bottom: 10px;
      margin-top: 10px;
      word-wrap: break-wonord;
    }
    img {
      height: 30px;
      width: 30px;
      border-radius: 10px;
      display: block;
      margin-right: 10px;
      margin-left: 2px;
    }
  }
}
