
ion-input {
    background: #fafaf8;
    border-radius: 10px;
    margin-top: 6px;
    border-style: solid;
    border-color: #ffce00;
    border-width: thin;
    --padding-start: 6px !important;
  }
  
  .box {
    align-items: center;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    border: 1px solid var(--ion-color-medium);
    border-color: #ffd900;
    cursor: pointer;
    display: inline-flex;
    height: 125px;
    justify-content: center;
    position: relative;
    width: 125px;
    margin: 8px;

    ion-icon {
        font-size: 48px;
    }

    .center {
        margin: auto;
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%,-50%);
    }

    .bottom {
        background-color: rgba(0, 0, 0, .2);
        color: var(--ion-color-dark-contrast);
        bottom: 0;
        font-size: 11px;
        font-weight: bold;
        padding: 3px 0;
        position: absolute;
        text-align: center;
        width: 100%;
    }
      .autocomplete {
        position: relative;
      
        ion-list {
          max-width: 100%;
          width: 100%;
          position: absolute;
          z-index: 10;
        }
      }
      
      select {
        border: none;
        outline: none;
        background: transparent;
        width: 100%;
      }

}
.map {
  margin-bottom: 36px;
  width: 100%;
  height: 250px;
}
